{% extends 'base.html' %}
{% block body %}
{% include 'navbar.html'%}
    <header class="jumbotron text-center" style="padding-top: 8rem">
      <div class="container">
        <h1>Buzzer Quiz</h1>
          <form method="post">
            <div class="form-group">
              <label for="ParticipantNameInput">Participant Name</label>
              <input type="text" class="form-control" id="ParticipantNameInput" aria-describedby="nameHelp" placeholder="Enter name" name="participant_name">
              <small id="nameHelp" class="form-text text-muted">Your name will appear as this in the buzzer room (Only alphanumeric characters and spaces allowed)</small>
            </div>
            <div class="form-group">
              <label for="RoomIDInput">Room ID</label>
              <input type="text" class="form-control" id="RoomIDInput" aria-describedby="IDHelp" placeholder="Room ID" name="room_id">
              <small id="IDHelp" class="form-text text-muted">Room ID provided to you by your host (Only alphanumeric characters and spaces allowed, room ID is *not* case sensitive)
              {% if busiest_rooms %}
                <br>
                Busy rooms include
                {% for room in busiest_rooms %}
                  <u><a class="busy-room-link">{{ room }}</a></u>
                {% endfor %}
              {% endif %}
              </small>
            </div>
            <button type="submit" class="btn btn-primary" name="submit">Enter Room</button>
        </form>
      </div>
    </header>

    <script>
      $('.busy-room-link').on('click', function() {
        $('#RoomIDInput').val(this.text)
      });
    </script>
{% endblock %}