body {
  background: '#fff';
}

/* stop 'a' tags having underline and chagnging format */
a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a {
    display:block;
}