html, body {
    top:0;
    bottom: 0px;
    left:0;
    right:0;
    height: 100%;
    zoom: 110%;
}


button#correct {
    background-color: #4CAF50;
}

button#incorrect {
    background-color: #FF0000;
}


.tab-pane {
    position: relative;
    top: 0;
}


.host-wrapper {
    padding: 3%;
}

.host-button:focus, .host-button:active {
   outline: none;
   box-shadow: none;
}

.host-button {
    min-height: 75px;
}

.host-button-wrapper {
    min-height: 75px;
    padding-bottom: 5px;
}


#buzz:focus, #buzz:active {
   outline: none;
   box-shadow: none;
}

.settings-wrapper {
    overflow: auto;
    padding-bottom: 2%;
}

#buzz {
    padding: 5%;
    min-height: 200px;
}

.buzz-log {
    padding-top: 15px;
}

.small-dark-footer {
    background-color: #222;
    font-size: 10px;
    padding: 10px;
}

.header-box-outer {
    padding-bottom: 10px;
}

.header-box-inner {
    background-color: #C0C0C0;
    padding: 1%;
}

.settings-wrapper {
    padding-bottom: 40px;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title{
	white-space: normal;
	text-overflow: clip;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
   .tabulator{
     font-size:12px;
   }
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.showSnackbar {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 29.5s;
  animation: fadein 0.5s, fadeout 0.5s 29.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}