 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="/">Home</a>
      </div>
        <div id="collapsableNavbarComponents" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="active" data-toggle="tab" href="/login" role="tab" aria-controls="home" aria-selected="true"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
              <li><a class="active" data-toggle="tab" href="/logout" role="tab" aria-controls="home" aria-selected="true"><span class="glyphicon glyphicon-log-out"></span>  Logout</a></li>
             </ul>
        </div>
  </div>
 </nav>